{{request.subtitle = "Add performance"}} {{extend 'layout.html'}}

<h2>Add performance</h2>
{{=form}}

<script>
$("#t_sublevel_f_construct").val("{{=construct.id}}")
$("#t_sublevel_f_level").val("{{=level.id}}")
</script>