{{request.subtitle = "Add video"}} {{extend 'layout.html'}}

<h2>Add video</h2>

{{if form.vars:}}
<h3>Form submitted</h3>
{{pass}}

{{=form}}

{{if form.vars:}}
<script>
{{for var in form.vars:}}
$("#t_video_{{=var}}").val("{{=form.vars[var]}}");
{{pass}}
</script>
{{pass}}