{{request.subtitle = "Big Idea"}} {{extend 'layout.html'}}

<div class="row">
  <div class="col-lg-8 col-sm-12">
  <div class="card" style="text-align: center">
    <div class="header">
            
      <div class="icon-big icon-warning text-center">
         <i class="ti-light-bulb"></i>
        </div>
      <h4 class="title">{{=FORMAT(big_idea.f_description)}}</h4>
      <hr style="width:50px;height:5px;border-color:#f3bb45;background:#f3bb45">
    </div>
    <div class="content" style="text-align:center">{{=FORMAT(big_idea.f_comments or "")}}</div>
          
</div>
</div>
<div class="col-lg-4 col-sm-12">

<div class="content">

{{if len(sublevels)>0:}}<h4>Sublevels</h4>{{pass}}
    {{for sublevel in sublevels:}}

    <a href="{{=URL('sublevel',args=[sublevel.f_sublevel.f_level.f_construct.f_name.lower(),sublevel.f_sublevel.f_level.f_number,sublevel.f_sublevel.f_letter.lower()])}}">
            <p>{{=FORMAT(sublevel.f_sublevel.f_name)}}: {{=FORMAT(sublevel.f_sublevel.f_description)}}</p>
          </a>
        
    {{pass}}

    {{if len(lessons)>0:}}<h4>Lessons</h4>{{pass}}
{{for lesson in lessons:}}
<a href="{{=URL('lesson',args=[lesson.id])}}">
        <p>
          {{=lesson.f_lesson.f_name}}: {{=FORMAT(lesson.f_lesson.f_subtitle)}}
        </p>
  </a>
{{pass}}
</div>
</div>
</div>
