{{request.subtitle = "All Big Ideas"}} {{extend 'layout.html'}}
{{first_char = ""}}


      {{for bi in big_ideas:}}
        <a href="{{=URL('bigidea',args=[bi.id])}}">
                <div class="typo-line">
                    {{if first_char != get_first_char(bi.f_description):}}

                        <h4>{{=get_first_char(bi.f_description)}}</h4>
                        {{first_char = get_first_char(bi.f_description)}}
                        {{pass}}
                <p>
                  {{=FORMAT(bi.f_description)}}
                </p>
            </div>
          </a>
      {{pass}}