{{request.subtitle = construct.f_name}} {{extend 'layout.html'}}

<!--<div class="row">
  <div class="col-xs-12">
    <div class="card">
        <div id="mynetwork" style="width:100%; height:500px"></div>

        <script type="text/javascript">
        $( document ).ready(function() {
          // create an array with nodes
          var nodes = new vis.DataSet([
            {id: 'base', label: '{{=construct.f_name}}', color: "#FF8888",
              widthConstraint: { maximum: 200 }},
            {id: 'parent', label: 'Theory of Measurement', color: "#8888FF",
              widthConstraint: { maximum: 200 },
              onclick:'/'},
            {{for level in levels:}}
            {id: {{=level.id}}, label: '{{=level.f_short_desc}}',
              widthConstraint: { maximum: 200 },
              onclick:'/level/{{=construct.f_url}}/{{=level.f_number}}',length: 200},
            {{pass}}
          ]);

          // create an array with edges
          var edges = new vis.DataSet([
            {from: 'parent', to: 'base', arrows: 'to'},
            {{for level in levels:}}
            {from: 'base', to: {{=level.id}}, arrows:'to'},
            {{pass}}
          ]);

          // create a network
          var container = document.getElementById('mynetwork');
          var data = {
            nodes: nodes,
            edges: edges
          };
          var options = {
            "physics": {
              "barnesHut": {
                "avoidOverlap": 0.10
              }
            }
          };
          var network = new vis.Network(container, data, options);
          network.on("click", function (params) {
            if(nodes.get(this.getNodeAt(params.pointer.DOM)).onclick) {
              window.location.href = nodes.get(this.getNodeAt(params.pointer.DOM)).onclick;
            }
          });
        });
        </script>


        <!<canvas id="my_canvas" width="600" height="400" />
        <script>
          
          $( document ).ready(function() {
            // make a new graph
            var graph = new Springy.Graph();

            // make some nodes
            var base = graph.newNode({label: '{{=construct.f_name}}',color:'#FF0000'});

            var parent = graph.newNode({label: 'Theory of Measurement',color:'#0000FF',ondoubleclick:'/'});
            graph.newEdge(parent,base,{color: '#0000FF'});

            {{for level in levels:}}
            var level = graph.newNode({label: '{{=level.f_short_desc}}',ondoubleclick:'/level/{{=construct.f_url}}/{{=level.f_number}}'});
            graph.newEdge(base,level);
            {{pass}}

            $("#my_canvas").attr("width",$("#my_canvas").parent().width());
            $("#my_canvas").attr("height",Math.floor($(window).height()*0.6));
            $('#my_canvas').springy({ graph: graph });
          });
        </script>>
      
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-lg-8 col-sm-12">
    <div class="card" style="text-align: center">
      <div class="header">
          <div class="icon-big icon-warning text-center">
              <i class="{{=construct.f_icon}}"></i>
            </div>
        <h4 class="title">{{=construct.f_long_name}}</h4>
        <hr style="width:50px;height:5px;border-color:#f3bb45;background:#f3bb45">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-xs-12 text-in-cols">
            <p>{{=FORMAT(construct.f_description)}}</p>
            {{if auth.has_membership('admin'):}}
            <a class="btn btn-info btn-fill btn-lg" href="/editconstruct/{{=construct.f_url}}">
              <i class="ti-edit"></i> Edit construct
            </a>
            {{pass}}
          </div>
        </div>
      </div>
    </div>
    {{for video in videos:}}
    <div class="card">
      <div class="header">
            <h4 class="title">{{=video.f_name}}</h4>
            <p class="category">{{=video.f_description}}</p>
          </div>
          <div class="content">
            {{if auth.has_membership("video") and video.f_youtube_url:}}
            <div style="background:#666;color:white;width:100%;text-align:center;padding-top: 28.125%;padding-bottom:28.125%;position:relative">
            <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/i0vg2f82-Ok" 
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen style="position:absolute;left:0;top:0"></iframe>
            </div>
            {{elif auth.has_membership("video"):}}
              <video controls width="100%">

                  <source src="/{{=request.application}}/default/download/{{=video.f_file}}"
                          type="video/mp4">
              
                  Sorry, your browser doesn't support embedded videos.
              </video>
            {{elif auth.user_id:}}
            <div style="background:#666;color:white;width:100%;text-align:center;padding-top: 28.125%;padding-bottom:28.125%">
                <h4>Your account is not approved for video access. If you believe you should have access to this video, please contact the administrator.</h4>
              </div>
            {{else:}}
              <div style="background:#666;color:white;width:100%;text-align:center;padding-top: 28.125%;padding-bottom:28.125%">
                <h4>You need to have an approved account to watch this video. If you have an approved account, please sign in.</h4>
              </div>
            {{pass}}
          </div>
          
          </div>            {{pass}}
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="content">
      <h4>Levels</h4>
      {{for level in levels:}}
          <a href="{{=URL('level',args=[construct.f_url,level.f_number])}}">
          <div class="typo-line">
          <p>
            <span class="category">
              {{=level.f_number}}
            </span>
            {{=level.f_short_desc}}
          </p>
        </div>
          </a>
        {{pass}}
        {{if auth.has_membership("admin"):}}
        <a href="{{=URL('addlevel',args=[construct.f_url])}}">
          <div class="typo-line">
          <p>
            <span class="category">
              +
            </span>
            Add New
          </p>
        </div>
          </a>
          {{pass}}
    </div>
  </div>
</div>