{{request.subtitle = "Edit performance"}} {{extend 'layout.html'}}

<h2>Edit performance</h2>
{{=form}}

<h2>Examples for this performance</h2>
{{for example in examples:}}
<p><a href="/editexample/{{=sublevel.id}}/{{=example.f_example.id}}">edit</a> {{=FORMAT(example.f_example.f_description)}}</p>
{{pass}}
<p><a href="/addexample/{{=sublevel.id}}">+ add new</a></p>