{{request.subtitle = "Edit lesson"}} {{extend 'layout.html'}}

<h2>Edit lesson</h2>
{{=form}}

<h2>Copy idea map from another lesson</h2>
{{if lesson.f_nodes:}}
<div class="alert alert-warning" role="alert">
    <b>Warning:</b> An idea map already exists for this lesson. If you copy an idea map from another lesson, the current idea map will be overwritten.
  </div>
{{pass}}
{{=form2}}

<h2>Set sublevels</h2>
{{=form3}}

<h2>Set constructs</h2>
{{=form4}}

<script>
$(document).ready(function() {
    $('#set_sublevels_sublevels').select2();
    $('#set_constructs_constructs').select2();
});
</script>