{{request.subtitle = "Home"}} {{extend 'layout.html'}}

<!--<div class="row">
  <div class="col-xs-12">
    <div class="card">
        <div id="mynetwork" style="width:100%; height:500px"></div>

        <script type="text/javascript">
        $( document ).ready(function() {
          // create an array with nodes
          var nodes = new vis.DataSet([
            {id: 'home', label: 'Theory of Measurement', color: "#FF8888",
              widthConstraint: { maximum: 200 },},
            {{for construct in constructs:}}
            {id: {{=construct.id}}, label: '{{=construct.f_name}}',
              widthConstraint: { maximum: 200 },
              onclick:'/construct/{{=construct.f_url}}'},
            {{pass}}
          ]);

          // create an array with edges
          var edges = new vis.DataSet([
            {{for construct in constructs:}}
            {from: 'home', to: {{=construct.id}}, arrows:'to'},
            {{pass}}
          ]);

          // create a network
          var container = document.getElementById('mynetwork');
          var data = {
            nodes: nodes,
            edges: edges
          };
          var options = {
            "physics": {
              "barnesHut": {
                "avoidOverlap": 0.10
              }
            }
          };
          var network = new vis.Network(container, data, options);
          network.on("click", function (params) {
            if(nodes.get(this.getNodeAt(params.pointer.DOM)).onclick) {
              window.location.href = nodes.get(this.getNodeAt(params.pointer.DOM)).onclick;
            }
          });
        });
        </script>

        <!<canvas id="my_canvas" width="600" height="400" />
        <script>
          
          $( document ).ready(function() {
            // make a new graph
            var graph = new Springy.Graph();

            // make some nodes
            var base = graph.newNode({label: 'Theory of Measurement',color:'#FF0000'});

            {{for construct in constructs:}}
            var construct = graph.newNode({label: '{{=construct.f_name}}',ondoubleclick:'/construct/{{=construct.f_url}}'});
            graph.newEdge(base,construct);
            {{pass}}

            $("#my_canvas").attr("width",$("#my_canvas").parent().width());
            $("#my_canvas").attr("height",Math.floor($(window).height()*0.6));
            $('#my_canvas').springy({ graph: graph });
          });
        </script>>
      
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-lg-8 col-sm-12">
    <div class="card" style="text-align: center">
      <div class="header">
          <div class="icon-big icon-warning text-center">
              {{for c in constructs:}}
              {{if c.f_name != "Connections":}}
              <i class="{{=c.f_icon}}"></i>
              {{pass}}
            {{pass}}
            </div>
          <h4 class="title">Welcome to {{=configuration.get('app.name')}}</h4>
          <hr style="width:50px;height:5px;border-color:#f3bb45;background:#f3bb45">
        </div>
      <div class="content">
        <div class="row">

          <div class="col-xs-12 text-in-cols">
            <p>{{=FORMAT(welcome_text)}}</p>
            {{if auth.has_membership('admin'):}}
            <a class="btn btn-info btn-fill btn-lg" href="/editspecialtext/welcome">
              <i class="ti-edit"></i> Edit welcome text
            </a>
            {{pass}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="content">
      {{for c in constructs:}}
      <div>
          
          <h4>
            <a href="{{=URL('construct',args=[c.f_url])}}">
                <i class="{{=c.f_icon}}"></i> {{=c.f_name}}
            </a>
          </h4>
        <p>{{=FORMAT(c.f_short_desc or "No description available")}}
        </p>
      </div>
      {{pass}}
    </div>
  </div>
</div>