{{request.subtitle = "All Lessons"}} {{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-8 col-sm-12">
      <div class="card" style="text-align: center">
        <div class="header">
            <div class="icon-big icon-warning text-center">
                {{for c in constructs:}}
        
                <i class="{{=c.f_icon}}"></i>
      
              {{pass}}
              </div>
            <h4 class="title">{{if len(constructs)==1:}}{{=constructs[0].f_long_name}}{{else:}}Lessons{{pass}}</h4>
            <hr style="width:50px;height:5px;border-color:#f3bb45;background:#f3bb45">
          </div>
        <div class="content">
          <div class="row">
  
            <div class="col-xs-12 text-in-cols">
                {{if len(constructs)==1:}}
              <p>{{=FORMAT(constructs[0].f_description)}}</p>
                {{else:}}
              <p>{{=FORMAT(welcome_text)}}</p>
                {{pass}}
                {{if auth.has_membership('admin'):}}
            <a class="btn btn-info btn-fill btn-lg" href="/editspecialtext/lesson">
              <i class="ti-edit"></i> Edit welcome text
            </a>
            <a class="btn btn-info btn-fill btn-lg" href="/addlesson">
              <i class="ti-edit"></i> Add lesson
            </a>
            {{pass}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="content">
        {{for construct in constructs:}}
<div>
<h4>{{=construct.f_name}}</h4>
{{i=1}}
      {{for lesson in sorted(lessons,key=lambda x: int(x.f_name.split()[-1])):}}
      
        {{if len(relevant_construct.find(lambda row: row.f_lesson.id == lesson.id and row.f_construct.id == construct.id)) > 0:}}
        <a href="{{=URL('lesson',args=[lesson.id])}}">
            <div class="typo-line">
                <p>
                  {{if construct.f_url in ['rno','rnq']:}}
                  <b>{{=FORMAT(lesson.f_name)}}:</b> {{=FORMAT(lesson.f_subtitle)}}
                  {{else:}}
                  <span class="category">
                    {{=lesson.f_name.split()[-1]}}
                  </span>
                  {{=FORMAT(lesson.f_subtitle)}}
                  {{pass}}
                </p>
              </div>
          </a>
          {{i += 1}}
          {{if i == 999 and len(constructs)>1:}}
          <a href="{{=URL('lessons',args=[construct.f_url])}}">
              <div class="typo-line">
                  <p>
                    <span class="category">
                       
                    </span>
                    more...
                  </p>
                </div>
            </a>
            {{break}}
            {{pass}}
        {{pass}}
      {{pass}}
      </div>
      {{pass}}
      </div>
    </div>
  </div>