{{request.subtitle = construct.f_name + " Performance " + str(level.f_number) + sublevel.f_letter}}
{{extend 'layout.html'}}

<!--<div class="row">
  <div class="col-xs-12">
    <div class="card">
        <div id="mynetwork" style="width:100%; height:500px"></div>

        <script type="text/javascript">
        $( document ).ready(function() {
          // create an array with nodes
          var nodes = new vis.DataSet([
            {id: 'base', label: '{{=sublevel.f_description}}', color: "#FF8888",
              widthConstraint: { maximum: 200 }},
            {id: 'parent', label: '{{=level.f_short_desc}}', color: "#8888FF",
              widthConstraint: { maximum: 200 },
              onclick:'{{=URL('level',args=[construct.f_url,level.f_number])}}'}
          ]);

          // create an array with edges
          var edges = new vis.DataSet([
            {from: 'parent', to: 'base', arrows: 'to'},
          ]);

          // create a network
          var container = document.getElementById('mynetwork');
          var data = {
            nodes: nodes,
            edges: edges
          };
          var options = {};
          var network = new vis.Network(container, data, options);
          network.on("click", function (params) {
            if(nodes.get(this.getNodeAt(params.pointer.DOM)).onclick) {
              window.location.href = nodes.get(this.getNodeAt(params.pointer.DOM)).onclick;
            }
          });
        });
        </script>
        <!<canvas id="my_canvas" width="600" height="400" />
        <script>
          
          $( document ).ready(function() {
            // make a new graph
            var graph = new Springy.Graph();

            // make some nodes
            var base = graph.newNode({label: '{{=sublevel.f_description}}',color:'#FF0000'});

            var parent = graph.newNode({label: '{{=level.f_short_desc}}',color:'#0000FF',ondoubleclick:'/level/{{=construct.f_url}}/{{=level.f_number}}'});
            graph.newEdge(parent,base,{color:'#0000FF'});

            {{big_idea_list = set()}}
            {{for bi in big_ideas:}}
            var branch_{{=bi.f_big_idea.id}} = graph.newNode({label: '{{=SIMPLEFORMAT(bi.f_big_idea.f_description)}}', ondoubleclick:'/bigidea/{{=bi.f_big_idea.id}}'})
            graph.newEdge(base,branch_{{=bi.f_big_idea.id}});
            {{big_idea_list.add(bi.f_big_idea.id)}}
            {{pass}}

            {{connections = set()}}
            {{for bi in big_idea_map:}}{{if bi.f_from.id in big_idea_list and bi.f_to.id in big_idea_list and (bi.f_from.id,bi.f_to.id) not in connections:}}
            graph.newEdge(branch_{{=bi.f_from.id}},branch_{{=bi.f_to.id}});
            {{connections.add((bi.f_from.id,bi.f_to.id))}}
            {{pass}}{{pass}}

            $("#my_canvas").attr("width",$("#my_canvas").parent().width());
            $("#my_canvas").attr("height",Math.floor($(window).height()*0.6));
            $('#my_canvas').springy({ graph: graph });
          });
        </script>>
      
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-lg-8 col-sm-12">
    <div class="card" style="text-align: center">
      <div class="header">
        <h5 class="title" style="text-transform: uppercase">
          <a href="{{=URL('level',args=[construct.f_url,level.f_number])}}">Level {{=level.f_number}}:
            {{=FORMAT(level.f_short_desc)}}</a>
        </h5>


        <hr style="width:200px">
        <div class="icon-big icon-warning text-center">
          {{=level.f_number}}{{=sublevel.f_letter}}
        </div>
        <h4 class="title">{{=FORMAT(sublevel.f_description)}}</h4>
        <hr style="width:50px;height:5px;border-color:#f3bb45;background:#f3bb45">
      </div>
      {{for example in examples:}}
      <div class="content">
        <em>{{=FORMAT(example.f_example.f_description)}}</em>
      </div>
      {{pass}}
      {{if auth.has_membership('admin'):}}
      <a class="btn btn-info btn-fill btn-lg"
        href="/editsublevel/{{=construct.f_url}}/{{=level.f_number}}/{{=sublevel.f_letter.lower()}}">
        <i class="ti-edit"></i> Edit performance
      </a>
      <br />
      {{pass}}
      <br />

    </div>
    {{for video in videos:}}
    <div class="card">
      <div class="header">
        <h4 class="title">{{=video.f_name}}</h4>
        <p class="category">{{=video.f_description}}</p>
      </div>
      <div class="content" style="width:100%;">
        {{if auth.has_membership("video") and video.f_youtube_url:}}
        <div
          style="background:#666;color:white;width:100%;text-align:center;padding-top: 28.125%;padding-bottom:28.125%;position:relative">
          <iframe width="100%" height="100%"
            src="https://www.youtube-nocookie.com/embed/{{=video.f_youtube_url.split('/')[-1].split('v=')[-1]}}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen style="position:absolute;left:0;top:0"></iframe>
        </div>
        {{elif auth.has_membership("video"):}}
        <video controls width="100%">

          <source src="/{{=request.application}}/default/download/{{=video.f_file}}" type="video/mp4">

          Sorry, your browser doesn't support embedded videos.
        </video>
        {{elif auth.user_id:}}
        <div
          style="background:#666;color:white;width:100%;text-align:center;padding-top: 28.125%;padding-bottom:28.125%">
          <h4>Your account is not approved for video access. If you believe you should have access to this video, please
            contact the administrator.</h4>
        </div>
        {{else:}}
        <div
          style="background:#666;color:white;width:100%;text-align:center;padding-top: 28.125%;padding-bottom:28.125%">
          <h4>You need to have an approved account to watch this video. If you have an approved account, please sign in.
          </h4>
        </div>
        {{pass}}
      </div>

    </div> {{pass}}
  </div>
  
  <div class="col-lg-4 col-sm-12">
    {{if construct.f_url != "connections":}}
    <div class="content">

      <h4>Lessons</h4>
      {{see_also = False}}
      {{for lesson in sorted(lessons,key=lambda x: int(x.f_name.split()[-1])):}}
      {{if len(relevant_construct.find(lambda row: row.f_construct.id == construct.id and row.f_lesson.id == lesson.id)) > 0:}}
      <a href="{{=URL('lesson',args=[lesson.id])}}">
        <div class="typo-line">
          <p>
            {{if construct.f_url in ['rno','rnq']:}}
            <b>{{=FORMAT(lesson.f_name)}}:</b> {{=FORMAT(lesson.f_subtitle)}}
            {{else:}}
            <span class="category">
              {{=lesson.f_name.split()[-1]}}
            </span>
            {{=FORMAT(lesson.f_subtitle)}}
            {{pass}}
          </p>
        </div>
      </a>
      {{else:}}
      {{see_also = True}}
      {{pass}}
      {{pass}}
      {{if see_also:}}
      <!--<p><i>See also:</i></p>-->
      {{for lesson in sorted(lessons,key=lambda x: int(x.f_name.split()[-1])):}}
      {{if len(relevant_construct.find(lambda row: row.f_construct.id == construct.id and row.f_lesson.id == lesson.id)) == 0:}}
      <a href="{{=URL('lesson',args=[lesson.id])}}">
        <p>
          {{=FORMAT(lesson.f_subtitle)}}
        </p>
      </a>
      {{pass}}
      {{pass}}
      {{pass}}
    </div>
    {{pass}}
  </div>
</div>