{{request.subtitle = "Your Teacher's Corner Entries"}} {{extend 'layout.html'}} {{import hashlib}}



<div class="row">
  
  <div class="col-lg-12">
      
    <div class="content">

        <div class="card">
            <div class="content" style="width:100%">
                <ul class="list-unstyled">
                            {{for tc in teachers_corner:}}
                            <li>
                                <div class="row">
                                    <div class="col-xs-2">
                                            <div class="avatar" style="float:right">
                                                    {{extension = tc.f_file.split(".")[-1].replace("docx","doc").replace("xlsx","xls").replace("pptx","ppt")}}
                                                    {{if extension == "pdf":}}
                                                    {{extension_color = "#f34545"}}
                                                    {{else:}}
                                                    {{extension_color = "#455ff3"}}
                                                    {{pass}}
                                                    <div class="img-circle img-no-padding img-responsive" style="background:{{=extension_color}};height:50px;text-align:center;color:white;padding-top:5px;font-size:25px">{{=extension}}</div>
                                                
                                                  </div>
                                          
                                    </div>
                                    
                                    <div class="col-xs-10" style="padding-bottom:20px">
                                        <a href="{{=URL('download',args=[tc.f_file])}}">
                                        <span class="text text-info">{{=tc.f_author_override or tc.f_author.full_name}}</span><br/>
                                        {{=tc.f_name}}
                                        <br>
                                        <span class="text"><small>{{=tc.f_content}}</a>  </small></span><br/>
                                        {{if tc.f_is_approved:}}
                                        <p class="text-success">Approved for {{=tc.f_lesson.f_name}}: {{=tc.f_lesson.f_subtitle}}</p>
                                        {{else:}}
                                        <p class="text-warning">Waiting for approval in {{=tc.f_lesson.f_name}}: {{=tc.f_lesson.f_subtitle}}</p>
                                        {{pass}}
                                        <a class="btn btn-fill" href="{{=URL('edit_tc',args=[tc.id])}}">Edit</a>
                                        <a class="btn btn-danger btn-fill" href="{{=URL('tc',vars={'delete':tc.id})}}">Delete</a>
                                    </div>
                                </div>
                            </li>                            
                            {{pass}}
                        </ul>
                        {{if len(teachers_corner) == 0:}}
                        <div class="icon-big icon-warning text-center">
                            <i class="fa fa-bell"></i>
                          </div>
                        
                        <p class="title text-center"><i>
                            You have not submitted any teacher's corner entries. To create one, <a href="{{=URL('lessons')}}">choose a lesson</a>.
                        </i></p>
                        <br/><br/>
                        {{pass}}
            </div>
        </div>
      </div>

        
     
    </div>
  </div>
</div>