{{request.subtitle = "Edit thumbnail"}} {{extend 'layout.html'}}

<h3>You have now successfully uploaded the lesson.</h3>
<h3>Now, click here to generate the thumbnail.</h3>
<a class="btn" href="/thumbnail/{{=lesson.id}}?generate=true">generate thumbnail</a>
<h3>The thumbnail may take a few minutes to generate.</h3>
<h3>This step is optional. If for some reason this doesn't work, the lesson page will continue to be reachable as normal.</h3>