{{request.subtitle = "Edit user list"}}
{{extend 'layout.html'}}

<ul>
{{for user in users:}}
<li style="padding-top:50px">{{=user.full_name}} 
    {{if user.id != auth.user_id:}}
{{if auth.has_membership('admin',user.id):}}
<a class="btn btn-link" href="/removeadmin/{{=user.id}}">Is an admin, click to remove</a>
{{else:}}
<a class="btn btn-link" href="/makeadmin/{{=user.id}}">Make admin</a>
{{pass}}
{{pass}}
{{if auth.has_membership('video',user.id):}}
<a class="btn btn-link" href="/removevideo/{{=user.id}}">Has access to video, click to remove</a>
{{else:}}
<a class="btn btn-link" href="/makevideo/{{=user.id}}">Allow access to video</a>
{{pass}}
</li>
{{pass}}
</ul>