<!doctype html>
<html lang="{{=T.accepted_language or 'en'}}">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{=URL('static','images/favicon.png')}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{=URL('static','images/favicon.ico')}}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{=configuration.get("app.name") or response.title or request.application}}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/{{=request.application}}/static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/{{=request.application}}/static/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="/{{=request.application}}/static/assets/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/{{=request.application}}/static/assets/css/demo.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">-->
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/{{=request.application}}/static/assets/css/themify-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  
    <!-- VisJS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">

    <!-- Color Picker -->
    <link href="/{{=request.application}}/static/css/colorPicker.css" rel="stylesheet">

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />

    <!-- Web2py -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}

    <style>
      .card .content {
        display: inline-block;
      }

      .typo-line {
        padding-left: 40px;
        margin-bottom: 0em;
      }
  
      .typo-line .category {
        transform: none;
        top: 0px;
      }

      .text-in-cols {
        text-align: justify;
        text-justify: inter-word;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
      }

      .text-in-cols p {
        line-height: 2;
        margin-bottom: 2em;
      }

      .text-in-cols table {
        text-align: left;
      }

      /* https://css-tricks.com/snippets/css/drop-caps/ */
      .text-in-cols p:first-child:first-letter {
        color: #f3bb45;
        float: left;
        font-size: 100px;
        line-height: 60px;
        padding-top: 10px;
        padding-right: 8px;
        padding-left: 3px;
      }

      .text-in-cols p:last-child:after {
            content: "\25C6"; /* Here comes the ivy leaf */
            font-size: 150%; /* Makes the leaf larger than the normal text */
            padding-left: 10px; /* Leaf won't clash with the last letter of the text */
            float: right; /* Horizontal position is set to the right edge of the column */
            position: relative; /* This is just an homage to Albert Einstein */
            top: 15px; /*Vertical distance from the last line of text */
            color: #f3bb45;
      }

      a {
        color: rgb(41, 97, 112);
      }

      li {
        font-size: 16px;
        height: 20px;
      }

      /* https://stackoverflow.com/questions/7463391 */
      ul.cbox li {
          list-style-type: none;
      }

      ul.cbox li:before {
          content: "\2610";
          margin-right:5px;
          margin-left:-20px;
      }

      ul.q li {
          list-style-type: none;
      }

      ul.q li:before {
          content: "Q:";
          font-weight: bold;
          margin-right:5px;
          margin-left:-20px;
      }

      img[title='figure'] {
        max-width: 100%;
        max-height: 70vh;
        padding-top:10px;
        padding-bottom:10px;
      }

      img[class='page'] {
        width: 100% !important;
        padding-top:10px;
        padding-bottom:10px;
        border: 1px solid black;
      }

    </style>
    <!-- ref: https://stackoverflow.com/a/13879171 -->
    <style>
        fraction, .top, .bottom {
            padding: 0 5px;    
        }
        
        fraction {
            display: inline-block;
            text-align: center;  
            vertical-align: middle;  
        }
        
        .bottom{
            border-top: 1px solid #000;
            display: block;
        }
        </style>

</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="black" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/{{=request.application}}" class="simple-text">
                    {{=configuration.get('app.name') or request.title or request.application}}
                </a>
            </div>

            <ul class="nav">
                {{for _item in response.menu or []:}}
                <li {{if _item[2] == request.url:}}class="active"{{pass}}>
                    <a href="{{=_item[2]}}">
                        {{if _item[0] in icons:}}
                        <i class="{{=icons[_item[0]]}}"></i>
                        {{pass}}
                        <p {{if _item[0] in starred_menu_items:}}style="text-decoration:underline;text-align:center !important"{{pass}}>{{=_item[0]}}</p>
                    </a>
                </li>
                {{pass}}
				<!--<li class="active-pro">
                    <a href="upgrade.html">
                        <p>Bottom link</p>
                    </a>
                </li>-->
            </ul>
    	</div>
    </div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
            <a class="navbar-brand" href="#">{{=request.subtitle}}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

              {{if count_tc > 0:}}
                <li>
                    <a href="{{=URL('tc_approve')}}">
                        <i class="ti-bell"></i>
        <p>Teacher's Corner ({{=count_tc}})</p>
                    </a>
                </li>
              {{pass}}

              <li>
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="ti-settings"></i>
								<p>{{if auth.user:}}{{=auth.user.short_name}}{{else:}}LOGIN{{pass}}</p>
                            <b class="caret"></b>
                          </a>
                <ul class="dropdown-menu">
              {{if auth.user:}}
              <li style="padding:20px 10px"><a style="padding:0px" class="dropdown-item" href="{{=URL('default','user/profile')}}">{{=T('Profile')}}</a></li>
              <li style="padding:20px 10px"><a style="padding:0px" class="dropdown-item" href="{{=URL('default','user/change_password')}}">{{=T('Change Password')}}</a></li>
              <li style="padding:20px 10px"><a style="padding:0px" class="dropdown-item" href="{{=URL('default','user/logout')}}">{{=T('Logout')}}</a></li>
              {{else:}}
              <li style="padding:20px 10px"><a style="padding:0px" class="dropdown-item" href="{{=URL('default','user/login')}}">{{=T('Login')}}</a></li>
              <li style="padding:20px 10px"><a style="padding:0px" class="dropdown-item" href="{{=URL('default','user/register')}}">{{=T('Sign up')}}</a></li>
              {{pass}}
            </ul>
              </li>
            </ul>

          </div>
        </div>
      </nav>



      <div class="content">
        <div class="container-fluid">
        {{include}}
        </div>
      </div>
      <footer class="footer">
          <div class="container-fluid">
            <nav class="pull-left">
              <ul>

                
              </ul>
            </nav>
            <div class="copyright pull-right">
              &copy;
              <script>
                document.write(new Date().getFullYear())
              </script>, powered by <a href="http://www.web2py.com/">Web2py</a> and <a href="http://www.creative-tim.com">Creative Tim</a>
            </div>
          </div>
        </footer>
    </div>


        

      </div>
    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="/{{=request.application}}/static/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/{{=request.application}}/static/assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/{{=request.application}}/static/assets/js/bootstrap-checkbox-radio.js"></script>

	<!--  Charts Plugin -->
	<script src="/{{=request.application}}/static/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/{{=request.application}}/static/assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="/{{=request.application}}/static/assets/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/{{=request.application}}/static/assets/js/demo.js"></script>

  <!-- VisJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

  <!-- Color Picker -->
  <script src="/{{=request.application}}/static/js/colorPicker.js"></script>

  <!-- Select2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

  <!-- ref: https://stackoverflow.com/a/13879171 -->
  <script>
  $().ready(function() {
    $('fraction').each(function(key, value) {
    $this = $(this)
    var split = $this.html().split("/")
    if( split.length == 2 ){
        $this.html('<span class="top">'+split[0]+'</span><span class="bottom">'+split[1]+'</span>')
    }    
});
});
  </script>


</html>
